.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.light{
  background-color: #72DDF7;
}



.light-container{
  background-color: #fff7e6 ;
  color: #333333;
}

.dark-container{
  background-color: black ;
  
}
/* 
body {
  font-family: 'Roboto', sans-serif;
} */


.dark{
  color: white !important;
  background-color: #212529;
}

.dropdown-item {
  color: inherit !important;  /* Keeps the default text color */
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important; /* Slight hover effect */
  color: inherit !important;  /* Prevents text from turning white */
}

.now{
  padding-top: 25px;
  padding-left: 20px;
  /* font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-size: 27px;
  line-height: 42px;
}

.now span{
  font-size: 48px;
}

.sun{
  font-size: 20px;
  margin-top: 50px;
}

.others{
  margin-top: 35px;
  font-size: 20px;
}

.others b{
  font-size: 19px;
}

.smoke{
  padding-right: 1vw;
  padding-top: 5.5vh;
  padding-left: 4vw;
  line-height: 4vh;
}